ul {
    list-style-type: none;
    margin-left:37%;
    padding:0;
  }
  
  .rating{
    margin-left:37%;
    color: #ff4517;
  }
  
  .page{
  background-color:#dfe6e0;
  padding:2%;
  margin: auto;
  display:grid;


  }
  
  .fa{
    color:#f2dd1d;
  }
  
  .card-img-top:hover{
  width:50%;
  height:225px;
  }
  
  .view{
    background-color:#dfe6e0;
    padding:10px;
    margin:20px;
  }

  .col-sm-4 {
    margin-left: -50px;
  }
  
  
  .card{
    width:4;
    padding:10px;
    margin-left: 40%;
    margin-bottom: 20px;
    
   
    
  
  }
  .card-body{
    display:inline-block;
  }

  .card .card-description {
    font-size: small;
    color:crimson;
    font-family: cursive;
  }

  .card .card-brand {
    font-weight: bold;
    font-style: italic;

  }

  .card .card-category {
    font-family: monospace;
    font-weight: bolder;
    color: darkred;
    font-style: italic;
  }
  .card-stock {
    font-size: smaller;
    font-style: italic;
  }
  
  .card-footer{
    background-color: #ff772e;
    font-weight: 600;
  }

  .card-footer button {
    color: lightblue;
    font-weight: bold;
    
  }
  
  .price{
  color:#ff4517;
    font-weight: 600;
  
  }











































