.product-card {
    border: 1px solid #ddd;
    border-radius:5px;
    padding:10px;
    margin-bottom:20px;
    background-color: azure;
}
 .product-card img {
    width:50%;
    height:auto;
    border: 5px;
    margin-bottom: 10px;
 }


button {
    size-adjust: 10px;
    border:3px;
    border-color:black;
}

