



body {
   display:flex;
   justify-content: center;
   align-content: center;
    

}
h2{
    font-size: 12px;
    text-align: center;
    font-family:cursive;
   
}

hr {
    margin-left: 20px;
}