

body {
   display:grid;
   justify-content: center;
   align-content: center;
    

}
h2{
    font-size: 15px;
    text-align: center;
    color:gray;
    font-family: monospace;
}

hr {
    margin-left: 20px;
}