

body {
    background-color:whitesmoke;
    display:flex;
    justify-content: center;
    min-height: 100vh;
    
}
h2{
    font-size: 15px;
    text-align: center;
    color:gray;
    font-family: monospace;
}

hr {
    margin-left: 20px;
}